.about__me {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: rgba(100, 100, 100, 0.5); */
    background-color: rgb(25, 25, 25);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__me-content {
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(../img/cover.gif);
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.avatar {
    border-radius: 10px;
    background-image: url(../img/avatar.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgb(180, 180, 180);
    width: 90px;
    min-width: 90px;
    height: 90px;
}

.about__me-nickname {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
}

.nickname {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: calc(16px + 6 * (100vw / 1000));
}

.nickname__text {
    color: white;
    font-size: calc(12px + 4 * (100vw / 1000));
    font-weight: 400;
}

.translate-nickname {
    opacity: 0.5;
}

.nickname-color {
    background: linear-gradient(#C9D6FF, #E2E2E2);
    /* background: linear-gradient(black, black); */
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 40px white;
}

.who__im {
    padding: 10px 20px 20px 20px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.who__im-subtitle {
    color: white;
    text-shadow: 0px 0px 40px white;
    font-style: normal;
    font-weight: 500;
    font-size: calc(20px + 5 * (100vw / 1000));
}

.who__im-text {
    color: rgb(205, 205, 205);
    font-weight: 400;
    font-size: calc(13px + 5 * (100vw / 1000));
}

@media(max-width: 530px) {
    .about__me-content {
        padding: 15px;
        column-gap: 15px;
    }

    .about__me-nickname {
        row-gap: 2px;
    }

    .nickname__text {
        font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1000));
    }

    .avatar {
        width: 65px;
        min-width: 65px;
        height: 65px;
    }

    .nickname {
        font-size: calc(16px + (6 + 6 * 0.7) * ((100vw - 320px) / 1000));
    }

    .who__im {
        padding: 10px 15px 15px 15px;
    }

    .who__im-subtitle {
        font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 320px) / 1000));
    }

    .who__im-text {
        font-size: calc(13px + (5 + 5 * 0.7) * ((100vw - 320px) / 1000));
    }
}