.about__me {
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 10px;
}

.about__me-content {
    display: flex;
    column-gap: 20px;
    padding: 20px;
    /* background: linear-gradient(135deg, #008304, #88c14e); */
    background-color: rgba(0, 0, 0, 0.85);
}

.avatar__img-wrap {
    flex: 0 0 90px;
}

.avatar__img {
    border-radius: 50%;
    border: 2px solid rgb(199, 199, 199);
}

.about__me-name--info {
    /* color: rgb(133, 161, 255); */
    display: flex;
    column-gap: 8px;
    /* margin-left: 20px; */
    font-size: 21px;
}

.about__me-name--information {}

.nickname {
    display: flex;
    column-gap: 5px;
}

.nickname-nickname {}

.nickname__text {
    color: white;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.translate-nickname {
    opacity: 0.5;
}

.nickname-color {
    background: linear-gradient(#C9D6FF, #E2E2E2);
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 40px white;
}

.add-information {
    color: white;
    /* text-shadow: rgb(0, 255, 64) 1px 0 10px; */
    /* background: rgb(0, 105, 0); */
    background-color: rgba(0, 0, 0, 0.85);
    border-top: 2px solid white;
    padding: 5px;
}

.who__im {
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.who__im-title {
    font-weight: 500;
    font-size: 30px;
    text-shadow: 0px 0px 40px white;
}

.who__im-text {
    font-weight: 400;
    font-size: 18px;
}

.add-info {}


.header {}

@media (max-width: 440px) {
    .avatar__img-wrap {
        flex: 0 0 70px;
    }

    .about__me-name--info {
        font-size: 16px;
    }

    .who__im-title {
        font-size: 25px;
    }

    .who__im-text {
        font-size: 14.5px;
    }
}