.modal {
	width: 70%;
	z-index: 10;
	padding: 0;
	border: none;
	background-color: transparent;
	border-radius: 10px;
	display: block;
	box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.3s;
	visibility: hidden;
}

.modal[open] {
	opacity: 1;
	visibility: visible;
}

.modal__inner {
	height: 550px;
	position: relative;
	border: none;
	background-color: var(--secondary);
	border-radius: 10px;
}

.modal__close {
	z-index: 10;
	cursor: pointer;
	right: 10px;
	top: 10px;
	position: absolute;
	width: 20px;
	height: 20px;
}

.modal__close-img {
	color: var(--text-primary);
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.lock {
	overflow: hidden;
}

.modal__content {
}

.modal__img {
	position: relative;
	background-color: var(--back);
	width: 100%;
	height: 200px;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.modal__title {
	font-size: clamp(0.875rem, 0.581rem + 1.47vw, 1.5rem);
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: var(--text-primary);
}

.modal__text {
	padding: 15px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.modal__text-title {
	font-size: clamp(0.875rem, 0.699rem + 0.88vw, 1.25rem);
	margin-top: 10px;
	font-weight: bold;
}

.modal__text-info {
	font-size: clamp(0.813rem, 0.665rem + 0.74vw, 1.125rem);
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.modal__link {
	position: absolute;
	bottom: 20px;
	left: 20px;
	transition: color 0.3s ease;
	color: rgb(0, 0, 160);
	font-size: clamp(0.75rem, 0.632rem + 0.59vw, 1rem);
}

.modal__link:hover {
	color: rgb(0, 0, 210);
}

.modal__stacks-list {
	padding: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

@media (max-width: 992px) {
	.modal {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.modal__img {
		height: 150px;
	}

	.modal__text-title {
		margin-top: 3px;
	}

	.modal__text {
		row-gap: 8px;
		padding: 10px;
	}
}
