* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    background: linear-gradient(135deg, #432626, #7d0e0e);
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.header__container {
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.header__nav {
    background-color: rgb(144, 0, 0);
    height: 50px;
}

.header__list {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.header__item {
    font-size: 18px;
    padding: 15px;
    height: 100%;
}

.header__item:hover {
    background-color: red;
}

.active__item {
    border-bottom: 2px solid white;
}

.header__link {
    color: white;
}

.slider {
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(#ED213A, #93291E);
    padding: 10px;
    border-radius: 5px;
    column-gap: 10px;
}

.slider_content {
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 265px;
    overflow: hidden;
}

.slider__list {
    position: relative;
    display: flex;
    width: 530px;
    left: 0;
    transition: all 1s ease-in-out;
}

.slider__item {
    align-items: center;
    width: 265px;
}

/* .slider__item::before {
    content: '<';
    color: rgb(210, 210, 210);
    background-color: rgb(102, 102, 102);
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 20px;
    height: 50px;
}

.slider__item::after {
    content: '>';
    color: rgb(210, 210, 210);
    background-color: rgb(102, 102, 102);
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 20px;
    height: 50px;
} */

.slider__button-prev {
    color: rgb(210, 210, 210);
    background-color: rgb(102, 102, 102);
    border: 2px solid rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 20px;
    height: 50px;
}

.slider__button-next {
    color: rgb(210, 210, 210);
    background-color: rgb(102, 102, 102);
    border: 2px solid rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 20px;
    height: 50px;
}

.slider__img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: left;
}

.slider__item-content {
    background-color: white;
    border-radius: 15px;
    border: 2px solid white;
    height: 100%;
    width: 100%;
}

.slider__item-title {
    background-color: rgb(67, 67, 67);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    font-size: 15px;
    color: white;
    text-shadow: 2px 2px 4px rgba(141, 141, 141, 0.89);
}

.slider__item-text {
    padding: 10px 10px 15px 10px;
    font-size: 14px;
}

.slider__item-list {}

.slider__item-item::before {
    content: '•';
}

.slider__dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    column-gap: 5px;
}

.slider__dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: grey;
    opacity: 0.7;
}

.slider__dot-active {
    background-color: blue;
}

.hero {
    margin-top: 20px;
    display: flex;
    row-gap: 12px;
    column-gap: 10px;
    background: linear-gradient(#ED213A, #93291E);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.hero__first-col {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
    width: 60%;
}

.hero__most-title {
    background: linear-gradient(135deg, #870000, #76270c);
    padding: 15px;
    column-gap: 20px;
    border-radius: 5px;
    border: 3px solid white;
    display: flex;
    height: 100%;
}

.hero__info {}

.hero__title {
    background: linear-gradient(135deg, #40E0D0, #ffe9cc, #ff5dae);
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 68px;
}

.hero__text {
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 4px 20px white; */
    font-size: 15px;
}

.hero__information {
    width: 100%;
    height: 100%;
}

.hero__information.hide {
    display: none;
}

.hero__information-img {}

.hero__decoration {
    height: 100%;
}

.hero__decoration-img-wrap {
    min-width: 200px;
    max-width: 300px;
}

.hero__decoration-img {
    border-radius: 5px;
    border: 2px solid white;
    object-fit: cover;
}

.hero__second-col {
    height: 100%;
    width: 40%;
    background: linear-gradient(135deg, #870000, #76270c);
    border: 3px solid white;
    padding: 15px;
    border-radius: 5px;
}

.hero__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.hero__item {
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;
}

.hero__img-wrap {
    position: relative;
    height: 100%;
}

.hero__img {
    object-fit: cover;
    object-position: top;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.hero__img-text {
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 6px rgb(86, 86, 255);
    font-size: 20px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.hero__job-info {
    font-size: 14px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.hero__item-btn {
    color: rgb(29, 29, 152);
    font-size: 15px;
    cursor: pointer;
}

.hero__item-btn-hide {
    display: none;
    color: red;
}

.hero__item-info {
    display: none;
}

@media (max-width: 850px) {
    .hero__img-text {
        font-size: 15px;
    }

    .hero__first-col {
        row-gap: 15px;
    }

    .hero__second-col {
        font-size: 13px;
    }

    .hero__item-btn {
        font-size: 14px;
    }
}

@media (max-width: 760px) {
    .hero {
        flex-direction: column;
    }

    .hero__first-col {
        width: 100%;
    }

    .hero__second-col {
        width: 100%;
    }

    .hero__information {
        display: none;
    }

    .hero__information.hide {
        display: block;
    }

    .hero__decoration-img-wrap {
        min-width: 150px;
    }

    .hero__img-text {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .hero__decoration-img-wrap {
        min-width: 120px;
    }

    .hero__img-text {
        font-size: 15px;
    }

    .hero__title {
        font-size: 50px;
    }

    .hero__text {
        font-size: 13px;
    }
}